<div class="container">
    <div class="row mt-4">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <img src="https://media.wired.com/photos/631bb97dd884b4dcc94164e3/16:9/w_2163,h_1216,c_limit/How-to-Choose-a-Laptop-Gear-GettyImages-1235728903.jpg"
                    alt="..." class="img-thumbnail">
            </div>
            <div class="card-body text-primary">
                <h5>Laptop</h5>
                <hr>
                <p>Asus X515EP-BQ8G5W Laptop, Intel Core i5-1135G7, 11th Generation, 8GB RAM, 512GB SSD, NVIDIA GeForce
                    MX330 2GB, 15.6 Inch FHD, Windows 11, Dark Gray</p>
            </div>

        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <img src=" https://images.samsung.com/is/image/samsung/p6pim/eg/feature/164451398/eg-feature-awesome-violet-535686167?$FB_TYPE_K_MO_JPG$"
                    alt="..." class="img-thumbnail">
            </div>

            <div class="card-body text-secondary">

                <p class="card-text">Samsung Galaxy A04e dual SIM mobile - 3GB RAM - 64GB storage - LTE - copper color
                </p>

            </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <img src="https://store.blackview.hk/cdn/shop/products/R3-Black.png?v=1628825916&width=720"
                    alt="..." class="img-thumbnail">
            </div>
            <div class="card-body text-success">
                <h5 class="card-title">Smart Digital Sports Watch</h5><hr>
                <p class="card-text">Oraimo IP68 Smart Digital Sports Watch for Unisex to Monitor Heart Rate, Step Count, Sleep Quality, and Number of Calories Burned, IP68 Water Resistant Compatible with Mobile Phones with iPhone and Android Systems - Gray</p>
            </div>
        </div>
        <div class="card border-danger mb-3" style="max-width: 18rem;">
            <div class="card-header"> <img src="https://media.wired.com/photos/631bb97dd884b4dcc94164e3/16:9/w_2163,h_1216,c_limit/How-to-Choose-a-Laptop-Gear-GettyImages-1235728903.jpg"
                alt="..." class="img-thumbnail"></div>
            <div class="card-body text-danger">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card border-warning mb-3" style="max-width: 18rem;">
            <div class="card-body text-warning">
                <h5 class="card-title">Obsession by Calvin Klein for Men,</h5><hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-body text-info">
                <h5 class="card-title">OPP</h5><hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Samsung Galaxy </div>
            <div class="card-body">
                <h5 class="card-title">Samsung Galaxy A04s, 64GB, Dual Sim, Copper</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

    </div>
</div>